.additive-item {
  padding: 13px 0 19px;
  border-bottom: 1px solid var(--color-grey400);

  &:first-child {
    border-top: 1px solid var(--color-grey400);
  }

  @media (min-width: $tablet-width) {
    padding: 28px 38px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      &:first-child {
        border-top: 1px solid var(--color-grey400);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-grey400);
      }
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 0 19px;
    gap: 0 80px;
    align-items: center;
  }
}

.additive-item__title {
  margin: 0;
  margin-bottom: 13px;
  color: var(--color-grey600);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    min-height: 45px;
  }

  @media (min-width: $desktop-width) {
    min-height: 0;
  }
}

.additive-item__attributes {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", "Tahoma", sans-serif;
  color: var(--color-grey500);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    justify-content: flex-end;
    gap: 50px;
    min-height: 45px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
    padding-top: 6px;
  }
}

.additive-item__definition {
  @media (min-width: $desktop-width) {
    min-width: 150px;
  }
}

.additive-item__value {
  margin: 0;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 244px;
    top: 3px;
    width: max-content;
  }
}

.additive-item__button {
  font-size: 16px;
  line-height: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    padding: 8px 26px;
    width: 100%;
  }
}
