.product-card {
  padding: 20px 20px 24px;
  box-sizing: border-box;

  @media (min-width: 530px) {
    max-width: 530px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    background-color: var(--bg-color-basic);
    padding: 0 38px 39px;
  }
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 22px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 169px;
    gap: 11px;
    margin-bottom: 37px;
  }
}

.product-card__description-wrapper {
  width: 100%;
}

.product-card__title {
  margin: 0;
  margin-bottom: 14px;
  color: var(--color-grey600);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  contain: content;
  text-transform: uppercase;
  transition: $transition;
  width: 60%;

  &:hover {
    color: var(--color-accent);
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 24px;
    width: 155px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.product-card__attributes {
  padding: 0;
  margin: 0;
}

.product-card__attribute {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: var(--color-grey500);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  gap: 15px;

  @media (min-width: $tablet-width) {
    padding: 6px 0 5px;
    border-bottom: 1px solid var(--color-grey400);
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__value {
  margin: 0;
}

.product-card__button {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 9px 20px;
  }
}

.product-card__image-wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: -71px;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__link--image {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;

  &:hover {
    scale: 1.05;
  }
}

.product-card__image {
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }
}
