.product-card {
  padding: 19px 0 25px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-color: var(--bg-color-basic);
    padding: 0 38px 39px;
  }
}

.product-card__image {
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 34px;
  }
}

.product-card__wrapper {
  display: flex;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 33px;
  }
}

.product-card__description-wrapper {
  width: 100%;
}

.product-card__title {
  margin: 0;
  margin-bottom: 14px;
  color: var(--color-grey600);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__attributes {
  padding: 0;
  margin: 0;
}

.product-card__attribute {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: var(--color-grey500);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 7px 0 9px;
    border-bottom: 1px solid var(--color-grey400);
  }
}

.product-card__value {
  margin: 0;
}

.product-card__button {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 9px 20px;
  }
}

.product-card__link {
  text-decoration: none;
}
