.promotion {
  position: relative;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-30;

    box-sizing: border-box;
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    max-width: 80%;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    height: 100%;
    padding: 0;
  }
}

.promotion__wrapper {
  background-color: var(--color-accent);
  background-image: url("../img/promotion/bg-promotion-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 35px 20px;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promotion/bg-promotion-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    background-image: url("../img/promotion/bg-promotion-tablet.jpg");
    margin: 69px 0 76px;
    padding-left: 77px;
    padding-right: 125px;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promotion/bg-promotion-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/promotion/bg-promotion-desktop.jpg");
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 33px 42px 21px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promotion/bg-promotion-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.promotion__description {
  text-align: center;
  font-family: "Lato", "Tahoma", sans-serif;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0 50px 43px;


  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.promotion__gift {
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
  padding-top: 58px;
  width: 78px;
  height: 80px;
  background-image: url("../img/gift.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 82px;
    margin: 0;
    padding: 0;
  }
}
