
.show-more {
  position: relative;
  padding: 10px 20px 25px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: 530px) {
    max-width: 530px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0;
    margin-top: 81px;
    border: 2px solid var(--bg-color-basic);
    padding: 38px;
  }
}

.show-more__plus {
  margin: 0 auto;
  margin-bottom: 23px;
  display: block;
  background-image: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  transition: $transition;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;
  color: var(--color-grey700);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  contain: content;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    color: var(--color-accent);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    padding: 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.show-more__decription {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Lato", sans-serif;
  color: var(--color-grey500);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.show-more__link {
  display: block;
  background-color: var(--color-grey200);
  color: var(--color-grey500);
  font-size: 16px;
  line-height: 20px;
  padding: 9px 20px;
  width: 100%;
  box-sizing: border-box;
  transition: $transition;

  &:hover,
  &:focus-visible {
    background-color: var(--color-grey370);
  }

  &:active {
    color: rgb(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: calc(100% - 76px);
  }
}
