.main-footer {
  background-color: var(--color-grey300);
}

.main-footer__wrapper {
  @include __wrapper-phone;

  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-30;

    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;

    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__catenergy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  &:hover .main-footer__logo,
  &:focus-visible .main-footer__logo {
    fill: #3e3e3e;
  }

  &:active .main-footer__logo {
    fill: #6b6b6b;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-footer__logo {
  fill: var(--color-grey700);
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}
