.main-footer {
  background-color: var(--color-grey300);
}

.main-footer__wrapper {
  display: grid;
  max-width: $phone-width;
  padding: 40px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 61px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 66px 110px;
  }
}

.main-footer__catenergy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}
