.social-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @media (max-width: calc($tablet-width - 1px)) {
    width: calc(100vw - 40px);

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 1px;
      width: calc(100vw - 40px);
      background-color: var(--color-grey450);
      margin: 0;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 1px;
      width: calc(100vw - 40px);
      background-color: var(--color-grey450);
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 42px;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .social-list__link-item,
  &:focus-visible .social-list__link-item {
    fill: var(--color-accent);
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link-item {
  fill: var(--color-grey470);
}
