.social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
