.button {
  padding: 10px 44px;
  text-decoration: none;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-accent);
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  cursor: pointer;
  transition: $transition;

  &:hover,
  &:focus-visible {
    background-color: var(--color-hover);
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }
}
