.button {
  padding: 8px 44px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-accent);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}
