.map__wrapper {
  @media (min-width: $desktop-width) {
    width: $desktop-width;
    position: relative;
    margin: 0 auto;
  }
}

.map__title-wrapper {
  @include __wrapper-phone;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-70;

    padding-top: 61px;
    padding-bottom: 61px;
  }

  @media (min-width: 800px) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    position: absolute;
    margin-top: 95px;
    left: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-white);
    padding: 60px 78px 60px 80px;
    gap: 92px;
    z-index: 10;
  }
}

.map__title {
  margin: 0;
  color: var(--color-grey700);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 170px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.map__description {
  margin: 0;
  font-weight: 400;
  color: var(--color-grey500);
  font-family: "Lato", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 20px;
    font-size: 16px;
    max-width: 160px;
    text-align: right;
    justify-self: end;
  }

  @media (min-width: 800px) {
    max-width: 30%;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    max-width: 100%;
  }
}

.map__frame {
  margin: 0 auto;
  width: 100vw;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map--basic {
  background-color: var(--color-grey200);
}

.map__city {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.map__image {
  display: block;
  margin: 0 auto;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.map__image-none {
  display: none;
}
