@mixin __wrapper-phone {
  max-width: calc($tablet-width - 1px);
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin __wrapper-tablet-70 {
  max-width: calc($desktop-width - 1px);
  padding: 0 70px;
}

@mixin __wrapper-tablet-30 {
  max-width: calc($desktop-width - 1px);
  padding: 0 30px;
}

@mixin __wrapper-desktop {
  max-width: $desktop-width;
  padding: 0 110px;
}

@mixin __header {
  position: relative;

  &::before {
    width: 100vw;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    background-color: var(--color-accent);
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 60%;
    }
  }
}

@mixin __title {
  position: relative;
  z-index: 10;
  width: max-content;
  margin: 0 -20px;
  background-color: var(--color-white);
}
