:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey200: #f2f2f2;
  --color-grey300: #eaeaea;
  --color-grey500: #444444;
  --color-grey600: #222222;
  --color-grey700: #111111;

  --bg-color-basic: var(--color-grey200);
  --color-accent: #68b738;
}

$tablet-width: 768px;
$desktop-width: 1440px;
