.main-header {
  max-width: calc($tablet-width - 1px);
  margin: 0 auto;
  box-sizing: border-box;

  position: relative;
  color: var(--color-black);
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-30;

    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin-top: 54px;
    padding: 0 110px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 14px;
  border-bottom: 1px solid var(--color-grey450);

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.main-header__toggle {
  display: block;
  width: 24px;
  height: 16px;
  padding: 4px 0;
  background-color: var(--color-white);
  cursor: pointer;
  border: none;
  z-index: 2;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: var(--color-black);
  box-shadow: 0 8px 0 0 var(--color-black), 0 16px 0 0 var(--color-black);
}

.main-header__toggle:hover::before {
  opacity: 0.6;
}

.main-header__toggle:active::before {
  opacity: 0.3;
}

.main-header__toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: var(--color-black);
    transition: all 0.1s ease;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}
