.advantages {
  background-color: var(--color-white);
  color: var(--color-black);
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
  }
}

.advantages__wrapper {
  @include __wrapper-phone;

  @media (min-width: $tablet-width) {
    max-width: calc($desktop-width - 1px);
    padding: 0 100px 0 30px;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    gap: 37px;
  }
}

.advantages__item {
  width: 100%;
  min-height: 60px;

  @media (min-width: 570px) {
    width: 40%;
  }

  @media (min-width: $tablet-width) {
    max-width: 250px;
    position: relative;
    counter-increment: number;

    &::before {
      content: counter(number);
      font-size: 280px;
      line-height: 280px;
      color: var(--color-grey200);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}
