.hero-block {
  position: relative;
  color: var(--color-white);
  font-weight: 400;
  text-align: center;
  background-image: url("../img/hero/bg-hero-mobile.jpg"),
    linear-gradient(var(--color-bg-hero) 100%, var(--color-white) 60%);
  background-size: auto 60%;
  background-position: center 0;
  background-repeat: no-repeat;
  padding-bottom: 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/bg-hero-mobile@2x.jpg"), linear-gradient(var(--color-bg-hero) 100%, var(--color-white) 60%);
    background-size: auto 60%;
  }

  @media (min-width: $tablet-width) {
    background: none;
    color: var(--color-black);
    background-color: var(--color-white);
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero/bg-hero-desktop.jpg"), linear-gradient(to left, var(--color-bg-hero) 50%, #ffffff 50%);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 84px;
    margin-top: -126px;
    padding-top: 123px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/bg-hero-desktop@2x.jpg"), linear-gradient(var(--color-bg-hero) 100%, var(--color-white) 60%);
      background-size: contain;
    }
  }
}

.hero-block__wrapper {
  @include __wrapper-phone;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-30;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-height: 875px;
    background-image: url("../img/hero/hero-tablet.png");
    background-size: 709px 609px;
    background-position: 30px 262px;
    background-repeat: no-repeat;
    text-align: left;
  }

  @media (min-width: calc($tablet-width + 50px)) {
    // background-position: 30px 70%;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;

    background: none;
    min-height: 0;
  }
}

.hero-block__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    max-width: 70%;
    font-size: 60px;
    line-height: 60px;
    padding-top: 62px;
    padding-left: 90px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    padding-left: 80px;
    max-width: 40%;
  }
}

.hero-block__description {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 40%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    padding-left: 90px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.hero-block__image {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 153px;
    left: 52%;
    width: 552px;
    height: 499px;
    transform: translateX(-35%);
    z-index: -1;
  }
}

.hero-block__button {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 40%;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 183px;
  }
}
