.hero-block {
  color: var(--color-white);
  font-weight: 400;
  //как сделать цвет фона, если не прогрузиться картинка?
  // background-color: var(--bg-color-accent);
  text-align: cenтter;
  background-image: url("../img/hero/hero_background.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.hero-block__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.hero-block__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.hero-block__description {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero-block__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.hero-block__button {
  display: block;
  margin: 0;
}
