
.result {
  display: flex;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 42px;
  }
}

.result__wrapper {
  display: block;
  margin: auto;
  padding-top: 15px;
  border: 1px solid #000000;//временно для наглядности

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 162px;
  }
}

.result__index-number {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.result__index-description {
  text-align: center;
  margin: 0;
  font-weight: 400;
  color: var(--color-grey500);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
}

.result__total {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    max-width: 190px;
    text-align: end;
    justify-self: end;
    align-self: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    justify-self: start;
    max-width: 100%;
  }
}

.result__total-price {
  margin-left: 63px;
}
