.review {
  background-color: var(--color-grey300);
  color: var(--color-black);
  padding-bottom: 40px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border-top: 1px solid var(--color-grey350);
    background: linear-gradient(to top, var(--color-grey300) 42.2%, var(--color-white) 42.2%);
    padding-bottom: 107px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    background: linear-gradient(to top, var(--color-grey300) 77%, var(--color-white) 77%);
    padding-bottom: 70px;
  }
}

.review__wrapper {
  @include __wrapper-phone;

  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 570px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-30;
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;

    grid-template-columns: 1fr 1fr;
    gap: 0 200px;
  }
}

.review__title {
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: 570px) {
    grid-column: 1 / 3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 45px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    grid-column: 1/2;
    margin-bottom: 146px;
  }
}

.review__description {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 400;
  color: var(--color-grey500);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 570px) {
    grid-column: 1 / 2;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    max-width: 433px;
    margin-bottom: 70px;
  }
}

.review__container {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr;

  @media (min-width: 570px) {
    grid-column: 1 / 2;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 366px 1fr;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
}

.review__result {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.review__image {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding-bottom: 85px;
  }
}

.review__slider {
  @media (min-width: 570px) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 /3;
    grid-row: 1 / 4;
  }
}
