//заготовка под слайдер

.slider {
  width: 100%;
  height: 256px;
  display: flex;
  background-color: var(--color-grey300);
  background-image: url("../img/slider/m-cat-slim.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 0 cover;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    padding-bottom: 100px;
  }
}

.slider__input {
  // -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: none;
  z-index: 10;
}

.slider__input::-webkit-slider-thumb {
  // -webkit-appearance: none;
  appearance: none;
  width: 2px;
  height: 256px;
  background-color: #666666;
  cursor: pointer;
  z-index: 10;

  @media (min-width: $tablet-width) {
    height: 512px;
    background-color: transparent;
  }
}

//Думаю,как добавить кнопку вместе с линией
// .slider__button {
//   position: absolute;
//   width: 40px;
//   height: 40px;
//   top: 50%;
//   left: 0;
//   border: none;
//   background-image: url("../img/slider/thumb.svg");
//   background-repeat: no-repeat;
//   background-position: 0 center;
//   background-size: contain;
// }

.slider__cat-slim {
  position: absolute;
  width: 50%;
  height: 256px;
  background-color: var(--color-grey300);
  background-image: url("../img/slider/m-cat-fat.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 0 cover;

  @media (min-width: $tablet-width) {
    height: 512px;
    background-color: transparent;
  }
}
