.comment {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.comment__header {
  @include __header;

  &::before {
    top: 44%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 62%;
    }
  }
}

.comment__wrapper {
  @include __wrapper-phone;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-70;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;
  }
}

.comment__wrapper-title {
  @include __wrapper-phone;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-70;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;
  }
}

.comment__title {
  @include __title;

  color: var(--color-black);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  padding: 23px 20px 37px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 -40px 86px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -40px 76px;
  }
}

.comment__field {
  font-family: inherit;
  color: var(--color-grey500);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
  width: 100%;
  min-height: 150px;
  padding: 15px 10px 13px 15px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 8px 20px;
    min-height: 175px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
  }
}
