.owner {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 67px;
  }
}

.owner__item {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.owner__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 26px;
  color: var(--color-black);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding: 0;
  }
}

.owner__control {
  margin-right: 13px;
}

.owner__field {
  font-family: inherit;
  color: var(--color-grey500);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 14px 15px 13px;
}
