.owner {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.owner__header {
  @include __header;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.owner__wrapper-title {
  @include __wrapper-phone;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-70;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;
  }
}

.owner__title {
  @include __title;

  display: block;
  color: var(--color-black);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  min-width: 200px;
  margin: 26px -20px 35px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 -42px;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    // margin: 0 -40px;
  }
}

.owner__wrapper {
  @include __wrapper-phone;
  display: grid;
  gap: 13px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include __wrapper-tablet-70;
    gap: 20px;
  }

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;
  }
}

.owner__item {
  display: flex;
  align-items: baseline;
  width: 100%;
  position: relative;

  &:focus-within .owner__icon svg {
    stroke: var(--color-accent);
  }
}

.owner__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

.owner__icon svg {
  fill: none;
  stroke: var(--color-black);
  display: flex;
  align-items: center;
}

.owner__control {
  margin-right: 13px;
  max-width: 50%;
}

.owner__field {
  font-family: inherit;
  color: var(--color-grey500);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 14px 40px 13px 15px;
  border: 1px solid var(--color-grey250);

  &:hover {
    border: 1px solid var(--color-grey400);
  }

  &:focus-visible {
    outline: 2px solid var(--color-grey500);
    outline-offset: -2px;
    background-color: var(--color-white);
    border-radius: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 1;
  }
}
