.owner {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.owner__header {
  @include __header;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 70px;
  }
}

.owner__wrapper-title {
  max-width: $phone-width;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;
  }
}

.owner__title {
  @include __title;

  color: var(--color-black);
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  padding: 26px 20px 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 -40px 76px;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 -110px 78px;
  }
}

.owner__wrapper {
  @include __wrapper-phone;
  display: grid;
  gap: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    @include __wrapper-desktop;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.owner__item {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.owner__control {
  margin-right: 13px;
}

.owner__field {
  font-family: inherit;
  color: var(--color-grey500);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 14px 15px 13px;
  border: 1px solid var(--color-grey250);

  &:hover {
    border: 1px solid var(--color-grey400);
  }

  &:focus-visible:required:invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
    background-color: var(--color-white);
  }

  &:active:required:invalid {
    outline: 2px solid var(--color-grey500);
    outline-offset: -2px;
    background-color: var(--color-white);
  }
}
